/* universal box sizing */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

input, textarea {
    font-family: inherit;
}


/* --------------------- */


html {
    font-size: 20px;
}

html::after {
  content: "";
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: -10;
  background-repeat: no-repeat;
  background-position:center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../images/background.jpg);
}

body {
    font-family: 'Roboto Slab', serif;
    color: $primary-color;
    max-width: 1200px;
    padding: 0 5%;
    margin: 0 auto;
}

a {
    color: $primary-color;
}

p {
    margin: 0 0 1em 0;
}
