@media screen and (max-width: 640px) {

    html {
        font-size: 14px;
    }

    .banner .img1 {
        width: 100%;
    }

    .banner .img2 {
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        top: initial;
    }

    .banner .img3 {
        width: 50%;
        position: relative;
    }

    .why-buy {
        flex-direction: column;
    }

    .why-buy .fa {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        line-height: 80px;
        margin: 20px;
    }

    .product-wrapper {
        width: 32.33%;
        margin: 0.5%;
    }

    input, textarea {
        padding: 3px;
        margin: 5px 0 3px 5px;
        border: 1px solid grey;
    }

}


@media screen and (max-width: 1275px) {
    .logo {
        display: none;
    }
}
