.title h2 {
    font-family: 'MadelynFill-Regular';
}

/* --------------------------- */

.banner {
    position: relative;
}

.banner img {
    display: block;
    width: 100%;
}

.banner .img1 {
    width: 66%;
}

.banner .img2 {
    width: 33%;
    position: absolute;
    top: 0;
    right: 0;
}

.banner .img3 {
    width: 33%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* --------------------------- */

.why-buy {
    background: rgba(150, 150, 150, .7);
}

