html::after {
    opacity: 0.5;
}

/* --------------------------- */

.startseite {
    position: relative;
    display: block;
}

.content {
    box-shadow: 0px 3px 12px rgba(0, 0, 0, .5);
}

/* --------------------------- */

h1 {
    font-size: 70px;
}

.title h2 {
    font-family: 'MadelynFill-Regular', 'Indie Flower', cursive;
    font-size: 50px;
}

/* --------------------------- */

.banner {
    position: relative;
}

.banner img {
    display: block;
    width: 100%;
}

.banner .img1 {
    width: 66%;
}

.banner .img2 {
    width: 33%;
    position: absolute;
    top: 0;
    right: 0;
}

.banner .img3 {
    width: 33%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* --------------------------- */

.why-buy {
    background: rgba(150, 150, 150, .7);
}

/* --------------------------- */

.form {
    display: block;
    font-size: 30px;
}

input, textarea {
    font-size: 30px;
    padding: 10px;
    margin: 15px;
}

/* --------------------------- */

.products {
    background: rgba(255, 255, 255, .9);
}

.sattelliste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-wrapper {
    width: 25%;
    flex-grow: 1;
}

.product-wrapper img {
    width: 100%;
}
