html::after {
    opacity: 0.5;
}

/* --------------------------- */

.startseite {
    position: relative;
    display: block;
    padding-top: 3%;
}

.content {
    box-shadow: 0px 3px 12px rgba(0, 0, 0, .5);
}

/* --------------------------- */

h1 {
    font-size: 70px;
}

.title h2 {
    font-family: 'MadelynFill-Regular', 'Indie Flower', cursive;
    font-size: 55px;
    /* padding-left: 5%; */
    line-height: 1;
    padding-bottom: 2.5%;
    color: rgb(224, 161, 10);
}

/* --------------------------- */

.banner {
    position: relative;
}

.banner img {
    display: block;
    width: 100%;
}

.banner .img1 {
    width: 66.66%;
    width: calc(100% * 2/3);
}

.banner .img2 {
    width: 33.33%;
    width: calc(100% / 3);
    position: absolute;
    top: 0;
    right: 0;
}

.banner .img3 {
    width: 33.33%;
    width: calc(100% / 3);
    position: absolute;
    bottom: 0;
    right: 0;
}

/* --------------------------- */

.why-buy {
    background: rgba(210, 210, 210, .9);
}

.why-buy > div {
    display: inline-block;
    width: 33%;
    text-align: center;
    padding: 3%;
    vertical-align:top;
}

.why-buy .fa {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    line-height: 100px;
    background-color: rgba(255, 255, 255, .7);
    margin: 20px;
    text-align: center;
    font-size: 300%;
}


/* --------------------------- */

.form {
    display: block;
    font-size: 30px;
}

.form form {
    /* position: fixed; */
    top: 5%;
    left: 0;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    overflow-y: scroll;
}

input, textarea {
    font-size: 30px;
    padding: 10px;
    margin: 15px 0;
}

.long input,
.long textarea {
    width: 100%;
}

label {
    display: none;
}

/* --------------------------- */

.products {
    background: rgba(245, 245, 245, .9);
}

.products h3 {
    padding: 1%;
    padding-bottom: 0.5%;
    font-size: 36px;
}

.sattelliste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5%;
}

.product-wrapper {
    width: 23%;
    flex-grow: 1;
    margin: 0.5%;
}

.product-wrapper img {
    width: 100%;
    display: block;
}

/* --------------------------- */

.footer {
    color: white;
    background-color: rgba(100, 100, 100, .9);
    text-align: center;
    padding: 5%;
}

.footer .fa-facebook {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(50, 50, 50, .9);
    line-height: 40px;
    margin: 20px;
    text-align: center;
}

.footer a {
    color: white;
}
